@import "/src/assets/scss/core/variables";
@import "/src/assets/scss/core/mixins";

// css footer
footer {
    position: relative;
    padding: 3rem 0;

    & > .container-fluid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;

        & > .links {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > li {
                & > a {
                    color: $txt-cl;
                    display: flex;
                    align-items: baseline;

                    &::after {
                        content: "";
                        display: block;
                        width: 5px;
                        height: 5px;
                        background-color: $secondary-cl;
                    }
                }

                &:not(:last-child) {
                    margin-right: 1rem;
                }

            }
        }

        & > .copyright {
            text-align: end;
        }
    }
}

@include xs {

    footer {
        .container-fluid {
            grid-template-columns: 1fr;
            gap: 20px;

            & > .copyright {
                text-align: start;
            }
        }

    }
}